  .hero {
    /* text-align: center; */
    height: 90vh;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
  }

  .searchRecipe{
    text-align: center;
    /* overflow: visible; */
    /* background: red; */
  }

  /* .recipes {
    padding-left: 10%;
    background: yellow;
  } */

  .element-row:hover {
    background: #f5f5f5;
  }

  .loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .boarder {
    padding: 30px;
  }

  .heading_prompt {
    float: left;
    text-align: left;
  }

  .recommended_recipe {
    position: relative;
    top: 90px;
  }

  #image_block {
    height: 400px;
    width: 700px;
    /* background-color: #555; */
  }

  .website_tip {
    position: fixed;
    top: 20%;
    left: 80%;
  }

  .dialog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    }

  .mat-dialog-actions{
    justify-content: flex-end;
    }

    /* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {

label, input {
  display: block;
}

label {
  margin-bottom: 1rem;
}
}
