  .hero {
    /* text-align: center; */
    height: 90vh;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
  }

  .searchRecipe{
    text-align: center;
    /* overflow: visible; */
    /* background: red; */
  }

  /* .recipes {
    padding-left: 10%;
    background: yellow;
  } */

  .element-row:hover {
    background: #f5f5f5;
  }

  .loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .boarder {
    padding: 30px;
  }

  .heading_prompt {
    float: left;
    text-align: left;
  }

  .recommended_recipe {
    position: relative;
    top: 90px;
  }

  #image_block {
    height: 400px;
    width: 700px;
    /* background-color: #555; */
  }

  .website_tip {
    position: fixed;
    top: 20%;
    left: 80%;
  }
