<div class="searchRecipe">
  <h1>Recipe Book</h1>
  <p>Let's cook something!</p>

  <h2>Find new recipes and get cooking!</h2>

  <input type="text" [(ngModel)]="ingredientToSearch" (keyup.enter)="searchRecipeByIngredient(ingredientToSearch)"
    placeholder="Search recipe by ingredient on Edaman API" size="50" required>
  <!-- <a><input type="button" value="Search" (click)="searchRecipeByIngredient()"></a> -->
  <br />
  <br />

  <label>Diet Label</label>
  <select name="diet" [(ngModel)]="dietLabel" ngDefaultControl>
    <option disabled selected value> -- Select an option -- </option>
    <option value=balanced>Balanced</option>
    <option value=high-fiber>High Fiber</option>
    <option value=high-protein>High Protein</option>
    <option value=low-carb>Low Carb</option>
    <option value=low-fat>Low Fat</option>
    <option value=low-sodium>Low Sodium</option>

  </select>

  <br />
  <br />

  <button mat-flat-button color="primary" (click)="searchRecipeByIngredient(ingredientToSearch)"> Search </button>
  <button mat-flat-button color="accent" (click)="clearSearchParams()"> New search</button>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

</div>

<br />

<div class="recipes" *ngIf="dataSource.data.length>0" fxLayout="row" fxLayout.xs="column"
  fxLayoutAlign="space-between stretch" class="recipesFound">
  <mat-table fxFlex="100%" fxFlex.gt-sm="70%" [dataSource]="dataSource" class="mat-elevation-z1">
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let recipe">{{recipe.label}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="calories">
      <mat-header-cell *matHeaderCellDef>Calories</mat-header-cell>
      <mat-cell *matCellDef="let recipe">{{recipe.calories}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="cautions">
      <mat-header-cell *matHeaderCellDef>Caution</mat-header-cell>
      <mat-cell *matCellDef="let recipe">{{recipe.cautions}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dietLabels">
      <mat-header-cell *matHeaderCellDef>Diet Labels</mat-header-cell>
      <mat-cell *matCellDef="let recipe">{{recipe.dietLabels}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="healthLabels">
      <mat-header-cell *matHeaderCellDef>Health Labels</mat-header-cell>
      <mat-cell *matCellDef="let recipe">{{recipe.healthLabels}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="totalTime">
      <mat-header-cell *matHeaderCellDef>Total Time</mat-header-cell>
      <mat-cell *matCellDef="let recipe">{{recipe.totalTime}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
      <mat-cell *matCellDef="let recipe">
        <button mat-icon-button (click)="showDialog(recipe)">
          <mat-icon>reorder</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>

  </mat-table>

</div>

<div class="hero">
  <div class="boarder">
    <div class="recommended_recipe">

      <h2>Recommended Recipe:</h2>
      <h3><a href="">Stale Bread</a></h3>
      <p>This recipe blends the mouth-watering flavours of old food and plain flavourless bread to bring a</p>
      <p>delicious new family-friendly recipe to your table! With only one ingredient this recipe will...</p>
      <div id="image_block">
        <img src="https://www.edamam.com/web-img/e42/e42f9119813e890af34c259785ae1cfb.jpg">
      </div>
    </div>

    <div class="website_tip">
      <h2>Pro Tip:</h2>
      <p>Click the "Weekly Planner" button located at</p>
      <p>the top right of the page to visit the recipe</p>
      <p>planner page! This page lets you create a</p>
      <p>calendar and plan recipes to cook for specific</p>
      <p>meals! You can then use the calendar when</p>
      <p>grocery shopping to reference which ingredients</p>
      <p>you need to buy for the weeks meals! <a href="/weeklyplanner">Click here</a></p>
      <p>to try out the weekly planner!</p>
    </div>

  </div>
</div>
