<form class="center">
  <table>
      <col width="130">
      <tr>
          <th></th>
          <th>Sunday</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
      </tr>
      <tr>
          <th>Breakfast</th>
          <th><input type="text" id="SunB" name="SunB" size="15"></th>
          <th><input type="text" id="MonB" name="MonB" size="15"></th>
          <th><input type="text" id="TuesB" name="TuesB" size="15"></th>
          <th><input type="text" id="WedB" name="WedB" size="15"></th>
          <th><input type="text" id="ThursB" name="ThursB" size="15"></th>
          <th><input type="text" id="FriB" name="FriB" size="15"></th>
          <th><input type="text" id="SatB" name="SatB" size="15"></th>
      </tr>
      <tr>
          <th>Lunch</th>
          <th><input type="text" id="SunL" size="15"></th>
          <th><input type="text" id="MonL" size="15"></th>
          <th><input type="text" id="TuesL" size="15"></th>
          <th><input type="text" id="WedL" size="15"></th>
          <th><input type="text" id="ThursL" size="15"></th>
          <th><input type="text" id="FriL" size="15"></th>
          <th><input type="text" id="SatL" size="15"></th>
      </tr>
      <tr>
          <th>Dinner</th>
          <th><input type="text" id="SunDi" size="15"></th>
          <th><input type="text" id="MonDi" size="15"></th>
          <th><input type="text" id="TuesDi" size="15"></th>
          <th><input type="text" id="WedDi" size="15"></th>
          <th><input type="text" id="ThursDi" size="15"></th>
          <th><input type="text" id="FriDi" size="15"></th>
          <th><input type="text" id="SatDi" size="15"></th>
      </tr>
      <tr>
          <th>Dessert</th>
          <th><input type="text" id="SunDe" size="15"></th>
          <th><input type="text" id="MonDe" size="15"></th>
          <th><input type="text" id="TuesDe" size="15"></th>
          <th><input type="text" id="WedDe" size="15"></th>
          <th><input type="text" id="ThursDe" size="15"></th>
          <th><input type="text" id="FriDe" size="15"></th>
          <th><input type="text" id="SatDe" size="15"></th>
      </tr>
  </table>
  <tr>
      <td><input type="submit" id="save" value="Save"></td>
  </tr>
</form>
