<div class="container">
  <h2>{{(recipe.id!==undefined)?recipe.recipeTitle:'Create New Recipe'}}</h2>
  <label class="favorite">Favorite
    <button mat-icon-button (click)="toggleFavorite()">
      <mat-icon class="favoriteIcon">{{(recipe.isFavorite==true)?'star':'star_border'}}</mat-icon>
    </button>
  </label>

  <label>Title
    <input type="text" id="ingredientLines" [(ngModel)]="recipe.recipeTitle" name="recipeTitle" required>
  </label>

  <img src="{{ recipe.linkToImage }}" alt="Photo of recipe">

  <br />
  <label>Found at:
    <a href="{{ recipe.externalLink }}">{{ recipe.externalLink }}</a>
  </label>

  <label>Diet Labels:
    <textarea id="dietLabels" [(ngModel)]="recipe.dietLabels" name="dietLabels" style="height:200px"></textarea>
  </label>

  <label>Health Labels:
    <textarea id="healthLabels" [(ngModel)]="recipe.healthLabels" name="healthLabels" style="height:200px"></textarea>
  </label>

  <label>Cautions:
    <textarea id="cautions" [(ngModel)]="recipe.cautions" name="cautions" style="height:200px"></textarea>
  </label>

  <label>Ingredients:
    <textarea id="ingredientLines" [(ngModel)]="recipe.ingredients" name="ingredientLines" required
      style="height:200px"></textarea>
  </label>

  <label>Calories
    <input type="text" [(ngModel)]="recipe.calories">
  </label>

  <!-- </div> -->
  <label>Time to Prepare (Minutes)
    <input type="number" [(ngModel)]="recipe.timeToPrepareInMinutes" required>
  </label>
  <label>How To Prepare
    <!-- <input type="text" [(ngModel)]="recipe.howToPrepare" required> -->
    <textarea id="howToPrepare" [(ngModel)]="recipe.howToPrepare" name="howToPrepare" style="height:200px"></textarea>
  </label>


  <label>Nutritional Value
    <input type="text" [(ngModel)]="recipe.nutritionalValue">
  </label>
  <label>Additional Info
    <input type="text" [(ngModel)]="recipe.additionalInfo">
  </label>

  <!-- <button mat-flat-button color="primary" (click)="updateRecipe()">Create</button> -->
  <button mat-flat-button color="primary"
    (click)="updateRecipe()">{{(recipe.id!==undefined)?'Update':'Create'}}</button>

  <button mat-flat-button color="warn" (click)="clearRecipe()">Cancel</button>
  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

</div>
<!-- <my-app></my-app> -->
